/* @import inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* @import robot */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* google fonts robot */
.roboto-fonts-robot {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}



/* google fonts inter */
.inter-google-fonts {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/* univarcel selectors */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* <i class="fa-solid fa-magnifying-glass"></i> glass */
/* <i class="fa-solid fa-cart-shopping"></i> cart */
/* Shared common  class */

.display-flex{
    display: flex;
}


.btn{
    padding: 10px 30px;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    background-color: #E02C6D;
    color: white;
}
/* navbar style */

.navbar{
    width: 90%;
    height: 100px;
    margin: 0 auto 100px auto;
    justify-content: space-between;
    align-items: center;
    
    padding: 0px 10px;
}

.nav-logo h3{
    font-size: 2.2rem;
    font-weight: bold;
}
.nav-icon-link ul{
    gap: 30px;
}
.nav-icon-link li{
    list-style: none;
}

.nav-icon-link a{
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 600;
    color: black;

}

.nav-icon-link i{
    color: rgb(255, 57, 8);
}
.icon{
    /* justify-content: center; */
    /* align-items: center; */
    /* text-align: center; */
   align-content: center;
   font-size: 1.6rem;
}

/* banner style */

.banner{
      width: 90%;
    height: 400px;
    margin: 0 auto 100px auto;
    justify-content: center;
    align-items: center;
    gap: 80px;
}
.banner-heading h2{
    font-size: 2.5rem;
    font-weight: 800;
}

.banner-heading > h2, p, button{
    margin-bottom: 15px;

}
.banner-image{
background-image: url(./images/Circle\ design.svg);
background-size: cover;
/* background-color: rgb(233, 255, 151) */
}

/* Icon center style */
.icon-center{
    width: 90%;
    margin: 0 auto 100px auto;
    text-align: center;
    /* background-color: aliceblue; */
    
}
.icon-center img{
    margin: 5px 20px;
}

/* card comtainer */
.section-h3{
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 80px;
   
}
.card-container{
    height: auto;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-items: center;
    /* background-color: aqua; */
    gap: 40px;
  
}
.section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    /* background-color: #E02C6D; */
    margin: 0 auto;
}
.card-contant{
    width: 330px;
    height: 470px;
    box-shadow: 2px 2px 5px rgb(239, 155, 155);
    padding: 20px;
   border-radius: 10px;
   margin-bottom: 100px;
}
.card-contant img, h3, h2, div, p{
    margin-bottom: 5px;
}
.card-contant .img{
    width: 300px;
    border-radius: 10px;
}
.card-contant h3{
    font-size: 28px;
    font-weight: 800;
}
.card-contant p{
    font-size: 18px;
    font-weight: 500;
    opacity: .7;
    color: rgb(0, 0, 0);
}
.icon-image{
    display: flex;
    justify-content: left;
    align-items: center;
}
.icon-image span{
    opacity: .4;
}
/* dsfgfasdga */

.see-more{
    display: flex;
   justify-content: end;
   align-items: center;
    font-size: 25px;
    color: #E02C6D;
    margin-bottom: 80px;
}
.see-more i{
    text-align: center;
    padding-left: 5px;
}
.feature-products{
    width: 90%;
    margin: 0 auto;
}

.imaged img{
    width: 500px;
}


.banner-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-bottom: 100px;
}
    

.banner-footer-heading h3{
 font-size: 35px;
 margin-bottom: 10px;
}.banner-footer-heading p{
 font-size: 20px;
 opacity: .7;
 margin-bottom: 10px;
}
/* small divce desin */

@media screen and (max-width: 576px){

    /* nav bar media screen */
 .navbar,  
.grid,
.banner,
.card-container,
.banner-footer{

    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
.card-contant{
    margin-bottom: 10px;
}
.card-container{
    margin-bottom: 80px;
}

.nav-logo h3{
    font-size: 30px;
}
.navbar{
    text-align: center;
    gap: 10px;
    height: auto;
}

.nav-icon-link ul{
    gap: 10px;
}
.nav-icon-link a{
    font-size: 25px;
    color: blue;
}
/* banner small media scren */
.banner{
    display: grid;
    text-align: center;
    height: 100%;
 }
.banner-image{
    grid-row: 1;
    padding: 20px;
}

.banner-footer{
    text-align: center;
}
/* icon centter */

.icon-center{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
   
    background-color: rgb(129, 191, 244);
    height: 300px;
    justify-content: center;
    align-items: center;
    gap:10px;
    padding: 10px;
}
.icon-section{
   
}
.imge{
    background-color: #E02C6D;
}



}


@media screen  and (min-width: 577px) and (max-width: 992px) {

  /* navbar medium screen */
    .nav-logo h3{
       font-size: 1.6rem;
       font-weight: bolder;
    }
    .nav-icon-link ul{
        gap: 20px;
    }
    .nav-icon-link a{
        font-size: 1.4rem;
    }

    .nav-icon-link i{
        font-size: 1.4rem;
    }

    /* banner medium screen */

}


